body {
  background-color: white;
  background-image: url('images/esp-table.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Orbitron', sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.flex-next {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  margin: 50px 0 0 0;
  height: 330px;
}

.score {
  margin: auto 0;
  padding: 0 20px;
}

.score h1 {
  font-size: 40px;
  letter-spacing: .2em;
  font-weight: bolder;
  color: white;
}

.theScore {
  color: #32c3ff;
}

/* .msgs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
} */

/* .msgs h1 {
  font-family: 'Days One', sans-serif;
  font-size: 20px;
  letter-spacing: .2em;
  color: white;
  justify-content: center;
} */

/* .instructions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
} */

/* .instructions h2 {
  font-family: 'Days One', sans-serif;
  font-size: 20px;
  letter-spacing: .2em;
  color: white;
  justify-content: center;
} */

/* .stats {
  width: 100px;
  height: 100px;
} */

#play-button {
  border: 5px solid white;
  box-shadow: 0;
  background-color: #08274a;
  color: #32c3ff;
  padding: 10px 20px 10px 30px;
  margin: 10px 20px 10px 0;
  font-size: 40px;
  border-radius: 10px;
  outline: none;
  font-weight: bolder;
  letter-spacing: .2em;
}

#continue-button {
  font-family: 'Days One', sans-serif;
  border: 3px solid white;
  box-shadow: 0;
  background-color: #08274a;
  color: #32c3ff;
  padding: 10px 10px 10px 30px;
  margin: 0 auto;
  font-size: 40px;
  border-radius: 10px;
  outline: none;
  font-weight: bolder;
  letter-spacing: .2em;
}

.check-answer, .get-next {
  font-family: 'Days One', sans-serif;
  border: 3px solid white;
  box-shadow: 0;
  background-color: #08274a;
  color: #32c3ff;
  padding: 10px 20px 10px 30px;
  margin: 130px 0;
  font-size: 40px;
  border-radius: 10px;
  outline: none;
  font-weight: bolder;
  letter-spacing: .2em;
}

.show-selected-card {
  background-color: white;
  border: 3px solid white;
  border-radius: 15px;
  margin: 20px auto;
  width: 186px;
  padding: 4px 8px 0 4px;
}

.center-button {
  /* container div to toggle html to switch out buttons */
}

.show-secret-card {
  /* just a placeholder */  
}

#secret-card {
  background-color: white;
  border: 3px solid white;
  border-radius: 15px;
  margin: 20px auto;
  width: 186px;
  padding: 4px 8px 0 4px;
}

.btn {
  outline: none;
}

.selection {
  background-color: transparent;
  width: 120px;
  padding: 0;
  margin: 0;
  border: none;
}

.cards {
  border: 5px solid #08274a;
  border-radius: 10px;
  width: 100px;
  margin: 0 auto;
}

.ignore {
  pointer-events: none;
}

.notignore {
  pointer-events: all;
};
